@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/bombardier');

:root {
  --bg-color: #101010;
  --text-color: #fff;
  --items-bg-color: #0c0c0cc5;
  --items-bg-color-hover: #0a0a0a;
  --search-bg-color: #151515;
  --search-text-color: #ffffff5e;
  --big-card-bg-color: #0808087c;
  --form-label-color: #181818;
  --game-buy-links-bg: #5472d2;
  --dlc-buy-links-bg: #9352ff;
}
[data-theme="light"]{
  --bg-color: #f2f2f3;
  --text-color: #000;
  --items-bg-color: #ebebf0c5;
  --items-bg-color-hover: #dedee6;
  --search-bg-color: #e0e0e7c5;
  --search-text-color: #0000005e;
  --big-card-bg-color: #e6e6ebe0;
  --form-label-color: #dcdce9;
  --game-buy-links-bg: #5aa1e3;
  --dlc-buy-links-bg: #9352ff;
}

body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--search-text-color);
  outline: 1px solid var(--big-card-bg-color);
  border-radius: 1px;
}

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.2s ease-in-out
}

h1{
  font-size: 20px;
  font-weight: 400;
}

header {
  padding: 1.5rem 0;
  text-align: center;
  border-bottom: solid 2px var(--search-bg-color);
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
a{
  color: var(--text-color);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

/* Home */
.home-wrapper{
  font-family: bombardier, Inter;
}
.home-wrapper h1{
  font-size: 30px;
  font-weight: 400;
}
.home-main-poster{
  width: 100%;
  max-height: 90vh;
  overflow: hidden;
}
.home-main-poster img{
  width: 100%;
}

/* Home about game */
.home-about-game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px 0;
  text-align: center;
  padding: 60px 0;
  box-shadow: inset 0 0 10px var(--search-text-color);
}
.home-about-game h1{
  padding: 0 0 5px 0;
}
.home-about-game p{
  font-size: 20px;
  width: 60%;
}

/* Home-game-available */
.home-game-available{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px 0;
  background: url('icons/Risk\ of\ Rain\ 2\ game\ buy\ poster.jpg') no-repeat;
  background-size: cover;
  background-position: 0 -50px;
  height: 600px;
  padding: 120px 0 0 0;
}
.home-game-available h1{
  text-shadow: #000 0 0 2px;
}
.game-available-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 40%;
}
.game-available-links a{
  color: #fff;
  font-size: 25px;
  background-color: var(--game-buy-links-bg);
  padding: 15px 20px;
  border-radius: 5px;
}

/* CRITICS-REVIEW */
.home-critics-review{
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0;
  box-shadow: inset 0 0 10px var(--search-text-color);
}
.critics-review-rating{
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  gap: 10px 20px;
  justify-content: center;
  width: 60%;
}
.critics-review-rating p{
  display: flex;
  gap: 0 5px;
  align-items: center;
  font-size: 25px;
}
.critics-review-rating span{
  font-size: 40px;
  color: var(--game-buy-links-bg);
}

/* DLC-BUY */
.home-dlc-buy{
  background: url('icons/Risk\ of\ Rain\ 2\ dlc\ buy\ poster.jpg') no-repeat;
  height: 630px;
  padding: 450px 0 0 0;
  background-size: cover;
}
.home-dlc-buy-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 40%;
}
.home-dlc-buy-links a{
  color: #fff;
  font-size: 25px;
  background-color: var(--dlc-buy-links-bg);
  padding: 15px 20px;
  border-radius: 5px;
}

/* SYSTEM-REQUIRMENTS */
.home-system-requirements{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  box-shadow: inset 0 0 10px var(--search-text-color);
}
.system-requirements-wrapper{
  display: flex;
  gap: 0 40px;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.home-system-requirements > h1{
  padding: 30px 0;
  font-size: 40px;
}
.system-requirements-min h1, .system-requirements-recommended h1, .home-system-requirements h1{
  color: var(--game-buy-links-bg);
}
.system-requirements-min p, .system-requirements-recommended p{
  font-size: 20px;
}
.system-requirements-min h1, .system-requirements-recommended h1{
  color: var(--game-buy-links-bg);
  padding: 10px 0;
}
.system-requirements-min, .system-requirements-recommended{
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

/* FOOTER */
.home-footer{
  opacity: 0.6;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-footer img{
  width: 40px;
}

/* Header */
.header-void{
  width: 200px;
}
.header-nav{
  display: flex;
  gap: 0 1rem;
  align-items: center;
}
.header-user{
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 0 20px;
  align-items: center;
}
.theme-control{
}
.theme-control img{
  width: 25px;
}

.title {
  text-align: center;
}

.container {
  max-width: 900px;
  padding: 2rem 0;
  margin: 0 auto;
}

/* Items */
.items-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 80vw;
}
.items-header{
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.items-header-category{
  display: flex; 
  gap: 0 20px;
}
.items-header-search{

}
.items-header-search input{
  border-radius: 5px;
  background-color: var(--search-bg-color);
  width: 100%;
  padding: 5px 8px;
  text-align: center;
  background-size: 20px 20px;
}
.items-header-search > input::-webkit-input-placeholder{
  color: var(--search-text-color);
}
.items-header-btn{
  background-color: var(--items-bg-color);
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 16px;
}
.items-header-btn:hover{
  background-color: var(--items-bg-color-hover);
}
.items-content, .types-items-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
}

.items-wrapper a{
  color: var(--text-color);
}

.items-card, .characters-card{
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  border-radius: 10px;
  background-color: var(--items-bg-color);
  justify-content: space-between;
  align-items: center;
}
.items-card:hover, .characters-card:hover{
  background-color: var(--items-bg-color-hover);
}
.characters-card{
  width: fit-content;
  padding: 8px 10px;
}
.items-card{
  width: fit-content;
  padding: 8px;
}
.items-card img{
  width: 60px;
  align-self: center;
  justify-content: center;
}
.characters-card img{
  border-radius: 10px;
  width: 90px;
}

.filtered-items-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

/* BIG CARDS */
.big-card-wrapper{
  width: fit-content;
  margin: 30px auto;
}
.big-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--items-bg-color);
  padding: 15px 0 30px 0;
  border-radius: 10px;
  max-width: 60vw;
  min-width: 40vw;
}
.big-card-header{
  display: flex;
  align-items: center;
  gap: 0px 25px;
  font-size: 18px;
  width: 70%;
  border-bottom: var(--form-label-color) solid 2px;
  border-radius: 2px;
  padding: 15px 10px 25px 10px;
}
.big-card-header-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px 0;
  background-color: var(--big-card-bg-color);
  border-radius: 10px;
  padding: 10px 10px;
  min-width: 150px;
  min-height: 150px;
}
.big-card-header-stats{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  gap: 10px 0;
  padding: 0 5px;
}
.big-card-header-img img{
  width: 100px;
}

.big-card h1{
  text-align: center;
}

.big-card-text{
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  padding: 25px 0 0 0;
  line-height: 1.4;
}

.big-card-back{
  align-self: flex-start;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.big-card-back a{
  color: var(--form-label-color);
  font-weight: 900;
  font-size: 20px;
}
.like-btn{
  width: 25px;
  height: 25px;
}
.like-btn img{
  width: 25px;
}
.same-items-wrapper{
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px 0;
  max-width: 90%;
  align-items: center;
}
.same-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}


/* REGISTER FORM */
.register-form{
  display: flex;
  justify-content: center;
}
.register-form form{
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  margin: 10px 0;
  width: 60%;
  background-color: var(--big-card-bg-color);
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  min-height: 300px;
  border-radius: 10px;
}
.register-form form label{
  width: 60%;
  background-color: var(--form-label-color);
  padding: 5px 8px;
  border-radius: 5px;
}
.register-form form label input{
  width:max-content;
}
.valid{
  border: #6fb740 1px solid
}
.form-label{
  border: var(--big-card-bg-color) 1px solid
}

/* SIGN IN FORM */
.auth-form{
  display: flex;
  justify-content: center;
}
.auth-form form,.successForm{
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  margin: 10px 0;
  width: 60%;
  background-color: var(--big-card-bg-color);
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  min-height: 300px;
  border-radius: 10px;
}
.auth-form form label{
  width: 60%;
  background-color: var(--form-label-color);
  padding: 5px 8px;
  border-radius: 5px;
}
.auth-form form label input{
  width:max-content;
}
.errMsg{
  color: #c6442d;
  margin-bottom: 5px;
}
.successForm{
  gap: 25px
}
.successForm h1{
  color: #6fb740;
}
.successForm p{
  font-size: 20px;
}

/* PROFILE */
.profileCard{
  background: var(--big-card-bg-color);
  width: 55%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 40px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.exitBtn{
  color: #1e1e1e;
  font-size: 20px;
}
.profileInf{
  display: flex;
  justify-content: center;
  gap: 10%;
}
.profileInf img{
  width: 70px;
}
.profileUserText{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.profileNotAuth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.profileUploadPhoto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* profile-favorite-items */
.profile-favorite-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0 5px 0;
}
.favorite-items-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

@media screen and (min-width: 1920px) {
/* BIG CARDS */
.big-card{
  max-width: 40vw;
}
}